@font-face {
    font-family: navBar;
    src: url(fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: header;
    src: url(fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
    background-color: #7E7053 ;
}

h1,h2,h3,h4,h5,h6{
    font-family: header;
    color: #D6D7D2;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

p,ul, button,input,textarea{
    font-family: paragraph;
    color: #EDEDED  ;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.flex-container {
display: flex;
background-color: #4D3E27 ;
border-radius: 10px;
}

.flex-container > div {
margin: auto;
}

.flex-container > div > h1 {
    color: #D6D7D2 ;
    font-family: navBar;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #D6D7D2;
  }

button{
    cursor: pointer;
}

img{
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 2px;
    margin-top: 100px;
    color: #D6D7D2;
}

footer > p {
    font-size: 15px;
}
